<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../../public/css/style.css">    
    <title>Product</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid mx-5 d-flex">
          <a class="navbar-brand" href="#">
              <img src="../../public/asset/logo.png" alt="" class=navbar-logo>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100 justify-content-end">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Products</a>
                </li>
                <li class="nav-item mx-1">
                    <a class="nav-link" aria-current="page" href="#">
                        <img src="../../public/asset/magnifying-glass (1) 1.png" alt="" class="navbar-icon">
                    </a>
                </li>
                <li class="nav-item mx-1">
                    <a class="nav-link" aria-current="page" href="#">
                        <img src="../../public/asset/shopping-cart (1) 1.png" alt="" class="navbar-icon">
                    </a>
                </li>
                <li class="nav-item mx-1">
                    <a class="nav-link" aria-current="page" href="#">
                        <img src="../../public/asset/user (2) 1.png" alt="" class="navbar-icon">
                    </a>
                </li>
            </ul>   
          </div>
        </div>
    </nav>
    
    <section class="container-fluid p-5">
        <div class="row">
            <div class="col-md-2">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                      <a class="nav-link text-dark" aria-current="page" href="#">My Profile</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-dark" href="#">Address Book</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-dark" href="#">Transaction History</a>
                    </li>
                    <li class="nav-item">
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-dark" href="#">Payment Confirmation</a>
                    </li>
                    <li class="nav-item">
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" href="#">Settings</a>
                    </li>
                    <li class="nav-item">
                    <li class="nav-item">
                      <a class="nav-link text-muted" href="#">Log Out</a>
                    </li>
                    <li class="nav-item">
                    </li>
                  </ul>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <h4>My Profile</h4>
                    <div class="col">
                        <div class="row">
                            <h6 class=mt-4>Account Settings</h6>
                            <hr class="m-0 mb-2">
                        </div>
                        <div class="mb-2 row">
                            <div class="col-2">Password</div>
                            <div class=" col text-muted">Last Updated at 22 January 2021</div>
                            <div class="col-2">
                                <button class="btn btn-outline-dark w-100">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h6 class=mt-4>Security</h6>
                        <hr class="m-0 mb-2">
                        <div class="mb-2 row">
                            <div class="col">
                                <div>Log out from all devices</div>
                                <small class="text-muted">Signed in on a shared device but forgot to sign it out? End all sessions by logging out of all devices.</small>
                            </div>
                            <div class="col-2">
                                <button class=" btn btn-dark w-100 align-items-center">Log out</button>
                            </div>
                        </div>
                        <div class="mb-2 row">
                            <div class="col">
                                <div>Delete account</div>
                                <small class="text-muted">By deleting your account, You can not do the transaction anymore.</small>
                            </div>
                            <div class="col-2">
                                <button class="btn btn-dark w-100">Delete Account</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <footer class="bg-dark white-text">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-4">
                    &copy 2021 <span><b>CUSTOM STATIONZ</b></span>
                </div>
                <div class="col-md-4">
                    <img src="../../public/asset/logo.png" alt="" class=logo>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        Follow us
                    </div>
                    <div class="row">
                        <div class="col mt-2">
                            <img src="../../public/asset/instagram 1.png" alt="" class="logo-24 me-2">
                            <img src="../../public/asset/image 9.png" alt="" class="logo-24 me-2">
                        </div>
                    </div>
                    <div class="row mt-3">
                        Contact us
                    </div>
                    <div class="row">
                        <div class="col mt-2">
                            <img src="../../public/asset/image 10.png" alt="" class="logo-24 me-2">
                            <img src="../../public/asset/Rectangle 67.png" alt="" class="logo-24 me-2">
                            <img src="../../public/asset/Rectangle 68.png" alt="" class="logo-24 me-2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>